language: dart
dart_task:
- dartfmt
install:
- git clone https://github.com/flutter/flutter.git -b stable
- ./flutter/bin/flutter doctor
script:
- ./flutter/bin/flutter test
before_deploy:
- ./flutter/bin/flutter build web
deploy:
  provider: pages
  local_dir: web
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: gh-pages